.education-container {
    display: flex;
    gap: 5%;
    margin-bottom: 3%;
}

.education__card {
    border-radius: 24px;
    border: 2px solid #E6E6E6;
    background: #FFF;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 0;
}

.education-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    height: 100%;
}

.education-icon {
    margin-bottom: 2%;
}

.education-card__title {
    font-weight: 600;
    line-height: 130%;
    font-size: calc(20px + (1 * (100vw - 768px) / 1152));
}

.education__button {
    margin-top: 3%;
}

.education-buttons {
    display: inline-flex;
    gap: 3%;
    margin-top: 3%;
}

.education-button {
    height: 100%;
}

.progress-worker {
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10vh;
}

.progress-worker__buttons {
    display: flex;
    gap: 3%;
    width: 100%;
}

.progress__button {
    flex: 1;
    width: 100%;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-buttons-education {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin: 2vh 0;
}
