.profile-container form {
    display: flex;
    gap: 10%;
    justify-content: center;
}

.profile-container .floating-label, .profile-container .form__input, .profile-container .choice__title {
    color: black;
}

.profile-container .form__input {
    border: 1px solid #000;
}

.profile-container .profile__image {
    text-align: center;
}

.upload-resume {
    display: inline-flex;
    margin: 0;
}

.resume-container {
    display: flex;
    align-items: center;
    gap: 3%;
}

.change-profile-button {
    margin: 6% 0;
    width: 100%;
    min-height: 9%;
}