.registration__form form{
    display: flex;
    gap: 8%;
    justify-content: center;
}

.registr-inputs {
    min-width: 50%;
}

.input-container {
    position: relative;
}

.input-container .form__input {
    width: 100%;
}

.floating-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: var(--floatingLabelColorText);
    cursor: default;
    font-size: calc(16px + (25 - 16) * ((100vw - 1366px) / (1920 - 1366)));
}

.registration__form .submit-button {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
    height: 76px;
    padding: auto;
    background: var(--authButtonBackground);
    color: var(--authButtonColorText, #2148C0);
    font-size: calc(16px + (25 - 16) * ((100vw - 1366px) / (1920 - 1366)));
    font-weight: 600;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
    margin-bottom: 50px;
}

.submit-button:hover{
    color: #ffffff;
}

.registration__role {
    text-align: center;
}

.suggestions-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
    position: absolute;
    width: calc(100% - 5px);
    z-index: 10;
    top: 100%;
    left: 0;
}

.suggestion-item {
    padding: 8px 10px;
    cursor: pointer;
    font-size: 18px;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.choice__change-image {
    background-color: #ffffff;
    color: #007bff;
    border: 2px solid #007bff;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: calc(14px + (18 - 14)*((100vw - 1366px) /(1920 - 1366)));
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    border-radius: 20px;
}

.choice__change-image:hover {
    background-color: #007bff;
    color: #ffffff;
}

.registration__icon--fix {
    max-width: 400px;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    background: white;
    padding: calc((40px + (60 - 40) * ((100vw - 1366px) / (1920 - 1366))) + 6px);
    border-radius: 8px;
    max-width: max-content;
    max-height: max-content;
    width: 100%;
    text-align: center;
    position: relative;
    font-size: calc((16px + (25 - 16) * ((100vw - 1366px) / (1920 - 1366))) + 6px);
}

.close-button {
    position: absolute;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
    color: black;
}
